/* Featured container */
.featured-container {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    height: 40vh;
    /* Set height to 40% of the viewport height */
    /* background-color: #fff; */
    /* Background color for contrast */
    overflow-y: auto;
    /* Enable vertical scrolling if content overflows */
    border-radius: 20px;
    /* Slightly smaller border radius */
    margin-top: 20px;
    /* Margin to separate from other elements */
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
    /* Subtle shadow for depth */
}

/* Heading in the featured container */
.feature {
    margin-left: 2rem;
    font-size: 1.5rem;
    /* Heading font size */
    color: #003B40;
    /* Heading color */
    font-family: Arial, Helvetica, sans-serif;
    /* Font family */
    font-weight: 200;
    /* Font weight */
    margin-bottom: 20px;
    /* Space below the heading */
}

/* Grid layout for the coffee shop cards */
.grid-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2 columns grid */
    gap: 20px;
    /* Space between grid items */
    width: 100%;
    /* Full width of the container */
    box-sizing: border-box;
    /* Include padding and border in width/height */
}

/* Styling for each coffee shop card */
.coffee-shop-card {
    border-radius: 10px;
    /* Rounded corners */
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); */
    /* Box shadow for depth */
    overflow: hidden;
    /* Hide overflow */
    /* background: white; */
    /* White background */
    text-align: center;
    /* Center-align text */
    padding: 10px;
    /* Internal padding */
}

/* Styling for the coffee shop image */
/* .coffee-shop-image {
    /* width: 100%; */
    /* Full width of the card */
    /* Maintain aspect ratio */
    /* object-fit: cover; */
    /* Cover the container without distortion */ 

    /* Rounded corners */

.imgs{
    border-radius: 10px;
        width: 9rem;
        height: 12rem;
        border-radius: 0.8rem;
        border: 1px solid black;
        box-shadow: 0px 4px 60px 0px #A8A5A633;
}

/* Container for coffee shop information */
.coffee-shop-info {
    text-align: left;
    color: #003B40;
    font-size: 0.5rem;
    padding: 10px;
    /* Internal padding */
}

/* Heading for the coffee shop name */
.coffee-shop-info h3 {
    font-size: 1rem;
    /* Font size */
    margin: 10px 0;
    /* Space above and below */
}

/* Paragraph for the coffee shop address */
.coffee-shop-info p {
    font-size: 14px;
    /* Font size */
    color: gray;
    /* Text color */
    margin: 5px 0;
    /* Space above and below */
}

/* Rating display for the coffee shop */
.rating {
    display: inline-flex;
    font-size: 16px;
    /* Font size */
    color: #003B40;
    /* Yellow color for rating */
    margin-top: 0.1rem;
    /* Space above */
}
.rating p{
    margin-top: 0.1rem;
    margin-left: 0.1rem;
}
.star{
    margin-top: 0.1rem;
}
.distance{
    color: #003B40;
    font-size: 1rem;

}